In [1]:
print("Hello, World!")

Hello, World!

In [2]:
#comment
# gyt
# gdy
# dryr

In [5]:
x=5
y="Priyanshu"

print(x)
y

5

'Priyanshu'

In [6]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [8]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [7]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [9]:
x = 5
y = 10
print(x + y)

15

In [10]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
a = "Hello World"
b = 20	
c = 20.5		
d = 1j	
e = ["apple", "banana", "cherry"]		
f = ("apple", "banana", "cherry")		
g = {"name" : "John", "age" : 36}		
h = {"apple", "banana", "cherry"}			
i = True

In [21]:
print(type(i))

<class 'bool'>

In [24]:
x=input("enter your name : ")
print(type(x))

enter your name : 90
<class 'str'>

In [27]:
x=int(input())
print(type(x))

ppp

ValueError: invalid literal for int() with base 10: 'ppp'

In [35]:
x=10
y=4

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(3**2)
print(3//2)

14
6
40
2.5
2
9
1

In [36]:
#i++
i=1
i=i+2
i+=2
print(i)

5

In [50]:
s="Hello World"
print(s[0])
print(s[0:5])
print(s[0::2])
print(s[-1])
print(s[-1:-4:-1])
print(s[::-1])

H
Hello
HloWrd
d
dlr
dlroW olleH

In [51]:
list1 = ["abc", 34, True, 40, "male"]

In [52]:
print(list1[1])

34

In [53]:
list1[2]="Hello"
list1

['abc', 34, 'Hello', 40, 'male']

In [54]:
list1.append(True)
list1

['abc', 34, 'Hello', 40, 'male', True]

In [55]:
list1.pop()
list1

['abc', 34, 'Hello', 40, 'male']

In [56]:
list1.remove(34)
list1

['abc', 'Hello', 40, 'male']

In [57]:
for i in list1:
  print(i)

abc
Hello
40
male

In [59]:
l=[2,45,12,34,73,89,122]
l.sort(reverse = True)
l

[122, 89, 73, 45, 34, 12, 2]

In [60]:
t=tuple(list1)
t

('abc', 'Hello', 40, 'male')

In [61]:
t[1]=23

TypeError: 'tuple' object does not support item assignment

In [62]:
l1=[1,2,3,4,1,2,3]
s=set(l1)
s

{1, 2, 3, 4}

In [64]:
Dict={
   "name" : "Priyanshu",
   "age" : 21, 
}

In [65]:
Dict

{'name': 'Priyanshu', 'age': 21}

In [66]:
Dict["name"]

'Priyanshu'

In [67]:
Dict["age"]=20
Dict

{'name': 'Priyanshu', 'age': 20}

In [68]:
for i in Dict:
  print(i,end=" ")
  print(Dict[i])

name Priyanshu
age 20

In [69]:
Dict["Branch"]="CSE"
Dict

{'name': 'Priyanshu', 'age': 20, 'Branch': 'CSE'}

In [70]:
Dict.pop("age")
Dict

{'name': 'Priyanshu', 'Branch': 'CSE'}

In [72]:
n=41
if n%2==0:
  print("Even")
else:
  print("Odd")

Odd

In [73]:
x=12
if type(x)==str:
  print("String")
elif type(x)==int:
  print("Integer")
elif type(x)==float:
  print("Float")

Integer

In [83]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [84]:
n=int(input('Enter a number : '))
for i in range(1,11):
    print(n,"X",i,'=',n*i)

Enter a number : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [85]:
a=0
while(a<5):
  print(a)
  a+=1

0
1
2
3
4

In [87]:
def addition(a,b):
  print(a+b)
addition(4,6)

10

In [91]:
a=input()
b=input()
op=input()
print(eval(a+op+b))

4
5
+
9